<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
<div> Hello , user</div>
<div>
    <form method="post">
        <input type="text" name="first_name" placeholder="Write a name"/>
        <input type="text" name="last_name" placeholder="Write a last name">
        <input type="number" name="user_id" placeholder="Write a user id">
    <button>
<a href="/main">Main</a>
    </button>
    </form>
</div>
</body>
</html>

